@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --first-color: #0b4a89;
    --second-color: #8c3c23;
    --light-color: #FBF4EE;
}

body {
    background-color: var(--light-color);
    font-family: 'Josefin Sans', sans-serif, 'Roboto', sans-serif;
    text-align: center;
}

header{
    padding-bottom: 4rem;
}

.container {
    /* width: 50%; */
    margin: 70px auto;
}

.dice {
    display: inline-block;
}

h1 {
    font-family: 'Lobster', cursive;
    text-shadow: 3px 0 var(--second-color);
    font-size: 3em;
    color: var(--first-color);
}

button {
    font-family: 'Josefin Sans', sans-serif, 'Roboto', sans-serif;
    color: var(--first-color);
    font-size: 1em;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border-color: var(--first-color);
    box-shadow: 3px 5px 5px rgba(11, 74, 137, 0.2), 3px 5px 5px rgba(11, 74, 137, 0.2);
}

p {
    font-size: 1.5em;
    color: var(--first-color);
}

img {
    width: 50%;
}

footer {
    margin-top: 5%;
    font-size: 1rem;
    color: var(--first-color);
}

footer a {
    text-decoration: none;
    color: var(--second-color);
}