@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --first-color: #0b4a89;
    --second-color: #8c3c23;
    --light-color: #FBF4EE;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: var(--light-color);
}

h1 {
    margin: 60px;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 0 var(--second-color);
    font-size: 4rem;
    color: var(--first-color);
}

h1.refresh-header {
    font-family: 'Josefin Sans', sans-serif, 'Roboto', sans-serif;
    color: var(--first-color);
    text-shadow: none;
    font-size: 20px;
    border-bottom: 1px solid #8c3c23;
    padding: 10px 0;
}

p {
    font-size: 1.5rem;
    color: var(--first-color);
    font-family: 'Josefin Sans', sans-serif, 'Roboto', sans-serif;
}

img {
    width: 55%;
}

footer {
    margin-top: 5%;
    font-size: 1rem;
    color: var(--first-color);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif, 'Roboto', sans-serif;
}

footer a {
    text-decoration: none;
    color: var(--second-color);
}